#root {
  text-align: center;
}

div.leaflet-container {
  background: #28652f;
  height: calc(100vh - 52px);
  width: 100vw;
}

.custom-marker {
  border-radius: 9999px;
  border: 5px solid white;
  box-shadow: 1px 1px 10px #000;
}

.container {
  padding: 0 20px;
}

main {
  padding-bottom: 52px;
}

.main-navigation {
  border-top: 1px solid var(--chakra-colors-gray-400)
}

.main-navigation a {
  color: var(--chakra-colors-gray-600);
}

.main-navigation .active {
  color: var(--chakra-colors-blue-600);
}

.main-navigation a {
  display: block;
  padding: .5em .3em;
  width: 70px;
}