div.leaflet-container {
  background: #70784f;
  height: calc(100dvh - 52px);
  width: 100vw;
}

.custom-marker {
  border-radius: 9999px;
  border: 5px solid white;
  box-shadow: 1px 1px 10px #000;
}

.container {
  padding: 10px 20px;
}

main {
  padding-bottom: 52px;
}

.main-navigation {
  background-color: var(--chakra-colors-blue-900);
}

.main-navigation a {
  color: white;
}

.main-navigation .active {
  color: var(--chakra-colors-cyan-200);
}

.main-navigation a {
  display: block;
  padding: .5em .3em;
  min-width: 70px;
}